.infobox {
    width: 15em;
    height: 18em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgb(207, 206, 206);
    text-align: center;
}

.infoContainer{
    background: #2B3153;
    margin-top: 0.5em;
    padding: 0.5em;
}

.wrapHeading{
    background: #2B3153;
    padding: 0.5em;
}

.heading {
    color: #ffffff;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
}

.heading:hover{
    color: #20D3C2;
}

.description {
    margin-top: 10em;    
    justify-content: center;
}

.price {
    color: #ffffff;
    font-size: large;
    font-weight: 600;
}

.catAndTag{
    color: white;
    padding: 0.2em;
    margin-bottom: 0.4em;
}

.btn {
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    width: 4em;
    background-color: #20D3C2;
    color: #ffffff;
}

.btn:hover {
    background-color: palevioletred;
}

.cat {
    color: #20D3C2;
}

.tag {
    border: 1px solid #ffffff;
    background-color: #20D3C2;
    color: #2B3153;
    margin: 0.2em;
    font-size: small;
}