.navbarmid{
   display: flex;
   width: 100%;
   height: 2cm;
   border-bottom: 1px solid #DBDEE0;
}

.title 
{
   font-size: xx-large;
   color: #20D3C2;
   margin-left: 14rem;
   text-decoration: none;
}

.left {
   margin-top: 0.5em;
   width: 33%;
}

.right {
   margin-left: 30em;
   margin-top: 1.5em;
   width: 66%;
}

.myacc {

   cursor: pointer; 
   text-align: center;

}

.myacc:hover {
color:#20D3C2 ;
}

.kenkata {
   width: 5em;
   margin-left: -.6em;
   margin-top: .3em;
}