.infobox {
    width: 300px;
}

.heading {
    color: #20D3C2;
    font-size: large;
    font-weight: 600;
}

.description {

}

.price {
    color: #20D3C2;
    font-size: large;
    font-weight: 600;
}

.btn {
    border: none;
    border-radius: 15px;
    background-color: #20D3C2;
    color: white;
    padding: 0.6em;
}

.btn:hover {
    background-color: #0f655c;
}

.cat {
    color: #20D3C2;
}

.tag {
    border: 1px solid black;
    width: 6em;
    font-size: small;
}